.search{
  display: flex;
}

.search-text{
  box-sizing: border-box;
  padding: 0;
  width: 650px;
  height: 50px;
}

.search-button{
  width: 100px;
  height: 50px;
  background-color:#ac53f2;
  transform: scaleX(-1);
  border:none;
}

.material-icons{
  color: #fff;
}

.sem-texto{
  font-family: monospace;
  font-style: italic;
}

@media (max-width: 900px){
  .search-text{
    width: 400px;
  }

  .search-button{
    width: 50px;
  }
}
