.profile{
  width: 280px;
  height: 280px;
  display: flex;
  justify-content:center;
  align-items:center;
  object-fit: cover;
}

.detail p{
  font-family: Raleway;
  font-size: 20px;
  font-weight: 300px;
  color: #5c5c5c;
  margin-top: 0;
  display: flex;
}

.section-two{
  margin-left: 52px;
  max-width: 70%;
}

.description h1{
  font-family:'Dosis', sans-serif;;
  font-size: 35px;
  color: #ea1515;
  height: 40.8px;
  margin-bottom: 0;
  margin-top:0;
  font-weight:bold;
}

.description h2{
  font-size: 20px;
  font-family:'Dosis', sans-serif;
  color: #000;
  width: 600px;
  margin-bottom: 0;
  margin-top: 0;
}

.description p{
  font-size: 20px;
  font-family: Raleway;
  color: #5c5c5c;
  width: 255.3px;
  height: 22.4px;
  margin-top: 0;
  display: flex;
}

.second{
  display: flex;
  margin-top: 50px;
}

.section-one{
  width:280px;
  height:480px;
  max-width: 30%;
}

.first h1{
  width: 280px;
  height: 50px;
  font-size: 40px;
  font-family: monospace;
}



