.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height: 100vh;
}

h1{
  font-family: monospace;
  font-size: 60px;
}

h1 > span{
  font-style: italic;
  font-family: Raleway;
  font-weight: 200;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* fundo semi-transparente */
  z-index: 9999;
}

.loading-spinner{
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 5px solid #ccc;
  border-top-color:  #f469e6;
  margin-top: 200px;
  animation: is-rotating 2s infinite;
  position: fixed;
  box-shadow: inset 0 0 0 rgba(255,255,255,0.8);
  top:30%;
  left:50%;
}

@keyframes is-rotating {
  to {
    transform: rotate(2turn)
  }
}

@media (max-width: 900px){

  h1{
    font-size: 40px;
  }

  .loading-spinner{
    width: 70px;
    height: 70px;
    left: 35%
  }
}
